<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../web-src/style/style.css">
    <script src"../web-src/script/script.js"></script>
  </head>

  <body>
    <header>  
     <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">¦</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
     </div> 
    </header>
    
  </body>
</html>

